# Environment and Secrets
.env
venv/

# Python
__pycache__/
*.py[cod]
*.log

# Project Data
*.xlsx
*.csv
*.tmp

# Build and Packaging
build/
dist/
*.spec

# IDEs and OS Files
.vscode/
.idea/
.DS_Store
